<h3>Welcome back, <%= @drinker.name %>!</h3>

<%= form_tag('/log_out', method: :delete) do %>
  <%= submit_tag "Log-Out " %>
<% end %>

  <div class="drunk_chat">
    <p class"chat_text">
      You're signed in, Drinker!
      <a href="/"><button type="button" id="BacktoWelcome">Back to the Crawl!</button></a>
    </p>
  </div>
