/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'fun.scss';
@import 'normalize.css';
@import 'skeleton.css';


body {
  background-image: url("flat_bar.jpg");
  background-attachment: fixed;
  background-size: cover;

}

header{
  background-color: rgba(52, 73, 94,1.0);
  background-size: cover;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0;
  height: 80px;
  width: 100%;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);

}

#head_text {
  line-height: 150%;
  margin-left: 25px;
  color: rgba(241, 196, 15,1.0);
  font-family: 'Gloria Hallelujah', cursive;
}
#getLocation {
  display: inline-block;
  margin: 0 auto;
}

#location {
  position: relative;
  margin-left: 25px;
}

#getLocation{
  display: inline-block;
}

#or {
  color:white;
  display: inline-block;
}

#location_search{
  display: inline-block;
}

#location_searchBtn{
  display: inline-block;
}

#map-canvas {
  height: 400px;
  width: 350px;
  position: relative;
  float:left;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 25px;
  padding: 0px;
  border: 5px solid rgba(241, 196, 15,1.0);
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
  }

.bar_li{
  font-family: 'Gloria Hallelujah', cursive;
  color: rgba(241, 196, 15,1.0);
  padding: 10px;
  margin:0;
}

#about_bar{
  position: relative;
  float:right;
  width: 25%;
  margin-right:100px;
  margin-bottom: 25px;
  background-color: rgba(52, 73, 94,1.0);
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
    h3{
      font-family: 'Gloria Hallelujah', cursive;
      color: rgba(241, 196, 15,1.0);
      padding-left: 10px;
      margin-bottom: 0px;
    }
}

#current_crawl{
  position: relative;
  clear: right;
  float:right;
  width: 25%;
  margin-right:100px;
  margin-bottom: 15px;
  background-color: rgba(52, 73, 94,1.0);
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
    h3{
      font-family: 'Gloria Hallelujah', cursive;
      color: rgba(241, 196, 15,1.0);
      padding-left: 10px;
      margin-bottom: 0px;
    }
}

#drunk_chat {
  clear:both;
  background-color: rgba(52, 73, 94,1.0);
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
  font-family: 'Gloria Hallelujah', cursive;
}

.chat_text {
  color: rgba(241, 196, 15,1.0);
  padding: 5px;
  margin: 1px;
}
