/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'fun.scss';
@import 'normalize.css';
@import 'skeleton.css';


body {
  background-image: url("flat_bar.jpg");
  background-attachment: fixed;
  background-size: cover;

}

header{
  background-color: rgba(52, 73, 94,1.0);
  background-size: cover;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0;
  height: 70px;
  width: 100%;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);

}

#head_text {
  margin-left: 25px;
  color: rgba(241, 196, 15,1.0);
  font-family: 'Gloria Hallelujah', cursive;
}
#getLocation {
  display: inline-block;
  margin: 0 auto;
}

#location {
  position: relative;
  margin-left: 25px;
}

#or {
  color:white;
}

span {
  color: rgba(241, 196, 15,1.0);
  text-align: center;
  text-size: 0.25rem;
  margin: 10 10 0 0;
  padding: 5px;
  border: 1px solid rgba(241, 196, 15,1.0);
}

.bar-row{
  padding: 1em;
  background-color: rgba(52, 73, 94,1.0);
  width: 100%;
  margin: 0px;
  text-align: center;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
}

.yesBar {
  background-color: rgba(255,255,255,1.0);
  color: black;
}

#bar_crawl_list{
  margin-top: 100px;
  background-color: rgba(52, 73, 94,1.0);
  width: 100%;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
  font-family: 'Gloria Hallelujah', cursive;
}

#crawl_list {
  padding: 10;
  margin: 3 0 3 10;
  color: rgba(241, 196, 15,1.0);
  font-family: 'Gloria Hallelujah', cursive;
}

#drunk_chat {
  background-color: rgba(52, 73, 94,1.0);
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.75);
  font-family: 'Gloria Hallelujah', cursive;
}

.chat_text {
  color: rgba(241, 196, 15,1.0);
  padding: 5px;
  margin: 1px;
}
