@import 'application.scss';

body {
  background-image: url("color_bar.jpg");
  background-attachment: fixed;
  background-size: cover;

}

#welcome_text {
  background-color: rgba(52, 73, 94,1.0);
  background-size: cover;
  text-align: center;
  text-size: 33px;
  color: rgba(241, 196, 15,1.0);
  padding: 5px;
  position: relative;
  margin-top: 640px;
  margin-bottom: 10px;
  margin-left: 0;
  height: 40px;
  width: 100%;
  box-shadow: 0 33px 33px 0 rgba(0, 0, 0, 0.75);

}
